@tailwind base;
@tailwind components;
@tailwind utilities;

.dark body {
  background: linear-gradient(90deg, #28313b, #485461);
}
body {
  /* background-image: url('../public/gradientMobile.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; */

  /* Light gradient*/
  background: linear-gradient(90deg, #f5f7fa, #c3cfe2);
}

section {
  min-height: 100svh;
  padding-top: 100px;
}

.card {
  background-image: url("../public/unknownchronicles.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
